@font-face {
  font-family: 'PyeongChang';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/font/PyeongChang-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'PyeongChang';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/font/PyeongChang-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'PyeongChang Peace';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/font/PyeongChangPeace-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/font/Pretendard-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/font/Pretendard-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/font/Pretendard-Bold.woff2') format('woff2');
  font-display: swap;
}
// color
$primary: #000049;
$primary-light: #ccccdb;
$secondary-blue: #0000b0;
$light-blue: #0B2283;
$secondary-lime: #b2ff85;


$container-width: 1200px;
$container-width-mobile: 320px;
$header-height: 76px;
$header-height-mobile: 60px;

@mixin large-pc {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

// font
@mixin font-title {
  font-family: PyeongChang Peace;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 2px;

  @include mobile {
    font-size: 24px;
    line-height: 36px;
  }
}
@mixin font-subtitle {
  font-family: PyeongChang;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 2px;

  @include mobile {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
  }
}
@mixin font-description {
  font-family: PyeongChang;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;

  @include mobile {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0px;
  }
}
@mixin font-footer-title {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.28px;
}
@mixin font-footer-subtitle {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
@mixin font-footer-description {
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: white;
  min-width: $container-width;
  @include font-description;

  @include mobile {
    min-width: $container-width-mobile
  }
}

.for-pc {
  display: block;
  @include mobile {
    display: none;
  }
}

.for-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}
