@font-face {
  font-family: "PyeongChang";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/PyeongChang-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PyeongChang";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/font/PyeongChang-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PyeongChang Peace";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/font/PyeongChangPeace-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/Pretendard-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/font/Pretendard-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/font/Pretendard-Bold.woff2") format("woff2");
  font-display: swap;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #000049;
}

body {
  margin: 0;
  color: white;
  min-width: 1200px;
  font-family: PyeongChang;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
}
@media (max-width: 576px) {
  body {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0px;
  }
}
@media (max-width: 576px) {
  body {
    min-width: 320px;
  }
}

.for-pc {
  display: block;
}
@media (max-width: 576px) {
  .for-pc {
    display: none;
  }
}

.for-mobile {
  display: none;
}
@media (max-width: 576px) {
  .for-mobile {
    display: block;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 76px;
}
@media (max-width: 576px) {
  header {
    height: 60px;
  }
}

.navbar-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-shadow: 0px 2px 4px rgba(0, 0, 73, 0.2);
}
@media (max-width: 576px) {
  .navbar-container {
    flex-direction: row-reverse;
  }
}
.navbar-container .navbar-left {
  margin-left: 2px;
  flex: 1;
}
@media (max-width: 576px) {
  .navbar-container .navbar-left {
    flex: 0;
  }
}
.navbar-container .navbar-left .logo {
  width: 96px;
  height: 20px;
}
@media (max-width: 576px) {
  .navbar-container .navbar-right {
    flex: 1;
  }
}
.navbar-container .navbar-right > span {
  margin-left: 20px;
}
@media (max-width: 576px) {
  .navbar-container .navbar-right > span {
    margin-left: 0px;
  }
}
.navbar-container .navbar-right > span a {
  color: white;
}
.navbar-container .navbar-right > span a:not(:hover) {
  text-decoration: none;
}

.side-slider {
  position: fixed;
  top: 0px;
  left: -180px;
  width: 180px;
  height: 100vh;
  min-height: 800px;
  background: #ffffff;
  border-radius: 0px 8px 8px 0px;
  padding: 5px 16px 16px 20px;
  transition: transform 0.5s ease-in-out 0.3s;
}
.side-slider.active {
  display: block;
  transform: translate(180px, 0);
}
.side-slider .close-side-slider {
  display: flex;
  justify-content: end;
}
.side-slider .close-side-slider img {
  position: relative;
  right: -10px;
}
.side-slider .link-container {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.side-slider .link-container > div > a {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 0.5px solid #ccccdb;
  color: black;
}
.side-slider .link-container > div > a:not(:hover) {
  text-decoration: none;
}

section,
footer {
  height: 900px;
  position: sticky;
  overflow: hidden;
}
@media (min-width: 1440px) {
  section,
  footer {
    height: 1080px;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 576px) {
  .container {
    width: 320px;
  }
}

@media (max-width: 576px) {
  .section3,
  .section4,
  .section5 {
    background-color: white !important;
    height: auto;
  }
  .section3 .container,
  .section4 .container,
  .section5 .container {
    width: 340px;
    background-color: #0000b0;
    border-radius: 20px;
    height: 437px;
    margin: 8px auto;
    padding: 24px 20px 0px 20px;
    overflow: hidden;
  }
}
.section1 {
  background-color: #000049;
  height: auto;
  padding-top: 76px;
}
@media (max-width: 576px) {
  .section1 {
    padding-top: 60px;
  }
}
.section1 .section1-upper {
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.section1 .section1-upper video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media (max-width: 576px) {
  .section1 .section1-upper video {
    margin: 0 auto;
    width: 380px;
    height: 420px;
  }
}
.section1 .section1-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 404px;
  padding-top: 67px;
}
@media (min-width: 1440px) {
  .section1 .section1-bottom {
    height: 444px;
    padding-top: 84px;
  }
}
@media (max-width: 576px) {
  .section1 .section1-bottom {
    height: 300px;
    padding-top: 32px;
  }
}
.section1 .section1-bottom .section1-title {
  font-family: PyeongChang Peace;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 2px;
}
@media (max-width: 576px) {
  .section1 .section1-bottom .section1-title {
    font-size: 24px;
    line-height: 36px;
  }
}
.section1 .section1-bottom .section1-description {
  margin: 16px 0 48px;
  text-align: center;
}
@media (max-width: 576px) {
  .section1 .section1-bottom .section1-description {
    margin: 8px 0 24px;
  }
}

.section2 {
  height: auto;
  background: linear-gradient(#000049, #0000b0);
}
.section2 .section2-main {
  width: 100vw;
  min-width: 1200px;
}
@media (max-width: 576px) {
  .section2 .section2-main {
    min-width: 320px;
  }
}

.section3 {
  background-color: #0000b0;
  height: auto;
}
.section3 video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media (max-width: 576px) {
  .section3 video {
    border-radius: 20px;
    width: 340px;
    height: 437px;
    margin: 8px auto;
  }
}

.section4 {
  background-color: #0000b0;
  display: flex;
}
.section4 .container {
  display: flex;
}
@media (max-width: 576px) {
  .section4 .container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.section4 .container .section4-left {
  flex: 1;
  position: relative;
}
.section4 .container .section4-left .section4-main {
  position: absolute;
  margin-top: 28px;
  width: 977px;
}
@media (min-width: 1440px) {
  .section4 .container .section4-left .section4-main {
    margin-top: 118px;
  }
}
@media (max-width: 576px) {
  .section4 .container .section4-left .section4-main {
    position: static;
    margin-top: 0px;
    width: 337px;
    height: 301px;
  }
}
.section4 .container .section4-right {
  flex: 1;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.section4 .container .section4-sentences {
  position: relative;
  margin-bottom: 70px;
}
@media (min-width: 1440px) {
  .section4 .container .section4-sentences {
    margin-bottom: 187px;
  }
}
@media (max-width: 576px) {
  .section4 .container .section4-sentences {
    margin-bottom: 0px;
  }
  .section4 .container .section4-sentences .section4-description {
    margin-bottom: 0px;
  }
}
.section4 .container .section4-sentences .section4-title {
  font-family: PyeongChang;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 2px;
  margin: 20px 0;
}
@media (max-width: 576px) {
  .section4 .container .section4-sentences .section4-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
  }
}
@media (max-width: 576px) {
  .section4 .container .section4-sentences .section4-title {
    margin: 0px 0px 8px;
  }
}

.section5 {
  background-color: #0000b0;
  position: relative;
  display: flex;
  z-index: 10;
}
.section5 .container {
  position: relative;
  display: flex;
}
@media (max-width: 576px) {
  .section5 .container {
    flex-direction: column;
    align-items: center;
  }
}
.section5 .container .section5-left {
  margin-left: 78px;
  margin-top: 316px;
  z-index: 10;
}
@media (min-width: 1440px) {
  .section5 .container .section5-left {
    margin-left: 55px;
    margin-top: 406px;
  }
}
@media (max-width: 576px) {
  .section5 .container .section5-left {
    margin: 0px;
  }
}
.section5 .container .section5-left .section5-sentences .section5-title {
  font-family: PyeongChang;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 2px;
  margin: 20px 0;
}
@media (max-width: 576px) {
  .section5 .container .section5-left .section5-sentences .section5-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
  }
}
@media (max-width: 576px) {
  .section5 .container .section5-left .section5-sentences .section5-title {
    margin: 0px;
  }
}
.section5 .container .section5-right {
  position: absolute;
  right: 30px;
  margin-top: 8px;
  height: 100%;
}
@media (min-width: 1440px) {
  .section5 .container .section5-right {
    right: 56px;
    margin-top: 98px;
  }
}
@media (max-width: 576px) {
  .section5 .container .section5-right {
    position: static;
  }
}
.section5 .container .section5-right .section5-main {
  height: 883px;
  width: 681px;
}
@media (max-width: 576px) {
  .section5 .container .section5-right .section5-main {
    height: 316px;
    width: 324px;
  }
}

.badge-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .badge-container {
    flex-direction: column;
    align-items: center;
  }
  .badge-container a:first-child {
    margin-bottom: 16px;
  }
  .badge-container a:first-child img {
    width: 180px;
  }
}
.badge-container a:first-child {
  margin-right: 46px;
}
@media (max-width: 576px) {
  .badge-container a:first-child {
    margin-right: 0px;
  }
}
@media (max-width: 576px) {
  .badge-container img {
    width: 180px;
  }
}

.nav-section {
  position: absolute;
  width: 100%;
}
.nav-section .sticky {
  position: sticky;
  height: auto;
  z-index: 10;
}
.nav-section .side-nav {
  margin-left: 9px;
  display: flex;
  flex-direction: column;
}
.nav-section .side-nav .step {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid white;
  font-size: 12px;
  font-weight: 700;
  transition: background-color 1.5s linear;
}
.nav-section .side-nav .step.active {
  background-color: white;
  color: black !important;
}
.nav-section .side-nav .step:not(:last-child) {
  margin-bottom: 12px;
}

footer.section6 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  bottom: 0px;
  background-color: #0000b0;
  position: relative;
}
@media (max-width: 576px) {
  footer.section6 {
    height: 538px;
    background-color: #0B2283;
  }
}
footer.section6 .container {
  position: relative;
}
footer.section6 .container .section6-title {
  font-family: PyeongChang Peace;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 2px;
  margin-top: 350px;
  margin-bottom: 48px;
  text-align: center;
}
@media (max-width: 576px) {
  footer.section6 .container .section6-title {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  footer.section6 .container .section6-title {
    margin-top: 439px;
  }
}
@media (max-width: 576px) {
  footer.section6 .container .section6-title {
    margin-top: 48px;
    margin-bottom: 16px;
  }
}
footer.section6 .container .company-info {
  position: absolute;
  width: 100%;
  bottom: 32px;
}
@media (min-width: 1440px) {
  footer.section6 .container .company-info {
    bottom: 122px;
  }
}
@media (max-width: 576px) {
  footer.section6 .container .company-info {
    position: relative;
    margin-top: 58px;
  }
}
footer.section6 .footer-title {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.28px;
  margin-bottom: 16px;
  margin-left: 3px;
}
footer.section6 .footer-suttitle {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-bottom: 12px;
  margin-left: 3px;
}
footer.section6 .footer-suttitle span {
  margin-right: 15px;
}
footer.section6 .footer-suttitle span:last-child {
  padding-left: 14px;
  border-left: 1px solid white;
}
footer.section6 .footer-description {
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
footer.section6 .footer-description span {
  margin-right: 4px;
}
@media (max-width: 576px) {
  footer.section6 .footer-description span {
    margin-right: 0px;
  }
}
footer.section6 .footer-description span:last-child {
  padding-left: 4px;
  border-left: 0.5px solid white;
}
footer.section6 .footer-contact {
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  border-top: 0.5px solid white;
  padding-top: 12px;
}
footer.section6 .footer-contact span {
  margin-right: 4px;
}
footer.section6 .footer-contact span:last-child {
  padding-left: 4px;
  border-left: 1px solid white;
}
footer.section6 .footer-icon {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
@media (max-width: 576px) {
  footer.section6 .footer-icon {
    margin-top: 12px;
    justify-content: start;
  }
  footer.section6 .footer-icon img {
    margin-left: 0px !important;
    margin-right: 12px;
  }
}
footer.section6 .footer-icon img {
  margin-left: 12px;
}
footer.section6 .footer-circle-container {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 1440px) {
  footer.section6 .footer-circle-container {
    left: 240px;
  }
}
@media (max-width: 576px) {
  footer.section6 .footer-circle-container {
    align-items: inherit;
    left: -26px;
    top: 13px;
  }
}
footer.section6 .footer-circle-container .footer-circle {
  display: inline-block;
  height: 653px;
  width: 326.5px;
}
@media (min-width: 1440px) {
  footer.section6 .footer-circle-container .footer-circle {
    height: 783px;
    width: 326.5px;
  }
}
@media (max-width: 576px) {
  footer.section6 .footer-circle-container .footer-circle {
    height: 278px;
    width: 139px;
  }
}
footer.section6 .footer-circle-container .footer-circle img {
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
