//npx sass --watch index.scss:index.css
@import './common.scss';

// header
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 76px;
}

.navbar-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  text-shadow: 0px 2px 4px  #00004933;
  .navbar-left {
    margin-left: 2px;
    flex: 1;
    .logo {
      width: 96px;
      height: 20px;
    }
  }
  .navbar-right {
    > span {
      margin-left: 20px;
      a {
        &:not(:hover) {
          text-decoration: none;
        }
        color: white;
      }
    }
  }
}

// section
section,
footer {
  height: 900px;
  position: sticky;
  top: 0;
  overflow: hidden;
  scroll-snap-align: start;
  @include large-pc {
    height: 1080px;
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.section1 {
  background-color: $primary;
  padding-top: 76px;
  height: auto;
  .section1-upper {
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1200px;
    margin: auto;
    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .section1-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 404px;
    padding-top: 67px;
    @include large-pc {
      height: 444px;
      padding-top: 84px;
    }
    .section1-title {
      @include font-title;
    }
    .section1-description {
      width: 720px;
      margin: 16px 0 48px;
      text-align: center;
    }
  }
}

.section2 {
  height: auto;
  background: linear-gradient(#000049, #0000b0);
  .section2-main {
    width: 100vw;
    min-width: 1200px;
  }
}
.section3 {
  background-color: $secondary-blue;
  height: auto;
  video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.section4 {
  background-color: $secondary-blue;
  display: flex;
  .container {
    display: flex;
    .section4-left {
      flex: 1;
      position: relative;
      .section4-main {
        position: absolute;
        margin-top: 28px;
        width: 977px;
        @include large-pc {
          margin-top: 118px;
        }
      }
    }
    .section4-right {
      flex: 1;
      position: relative;
      display: flex;
      align-items: end;
      justify-content: flex-end;
    }
    .section4-sentences {
      position: relative;
      margin-bottom: 70px;
      @include large-pc {
        margin-bottom: 187px;
      }
      .section4-title {
        @include font-subtitle;
        margin: 20px 0;
      }
    }
  }
}

.section5 {
  background-color: $secondary-blue;
  position: relative;
  display: flex;
  .container {
    position: relative;
    display: flex;
    .section5-left {
      margin-left: 78px;
      margin-top: 316px;
      z-index: 10;
      @include large-pc {
        margin-left: 55px;
        margin-top: 406px;
      }
      .section5-sentences {
        .section5-title {
          @include font-subtitle;
          margin: 20px 0;
        }
        .section5-description {
          width: 534px;
        }
      }
    }
    .section5-right {
      position: absolute;
      right: 30px;
      margin-top: 8px;
      // top: 8px;
      height: 100%;
      @include large-pc {
        right: 56px;
        margin-top: 98px;
      }
    }
    .section5-main {
      height: 883px;
      width: 681px;
    }
  }
}

.badge-container {
  display: flex;
  justify-content: center;
  img:first-child {
    margin-right: 46px;
  }
}
// sticky nav
.nav-section {
  position: absolute;
  width: 100%;
  .sticky {
    position: sticky;
    height: auto;
    z-index: 10;
  }
  .side-nav {
    margin-left: 9px;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease-in-out 0.3s;
    opacity: 1;
    .step {
      display: flex;
      width: 20px;
      height: 20px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      border: 1px solid white;
      font-size: 12px;
      font-weight: 700;
      transition: background-color 0.8s linear;
      &.active {
        background-color: white;
        color: black;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

// footer
footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  bottom: 0px;
  &.section6 {
    background-color: $secondary-blue;
    position: relative;
    .section6-title {
      @include font-title;
      margin-top: 350px;
      margin-bottom: 48px;
      text-align: center;
      @include large-pc {
        margin-top: 439px;
      }
    }
  }
  .container {
    position: relative;
    .company-info {
      position: absolute;
      width: 100%;
      bottom: 32px;
      @include large-pc {
        bottom: 122px;
      }
    }
  }
  .footer-title {
    @include font-footer-title;
    margin-bottom: 16px;
    margin-left: 3px;
  }
  .footer-suttitle {
    @include font-footer-subtitle;
    margin-bottom: 12px;
    margin-left: 3px;
    span {
      margin-right: 15px;
      &:last-child {
        padding-left: 14px;
        border-left: 1px solid white;
      }
    }
  }
  .footer-description {
    @include font-footer-description;
    margin-bottom: 10px;
    span {
      margin-right: 4px;
      &:last-child {
        padding-left: 4px;
        border-left: 0.5px solid white;
      }
    }
  }
  .footer-contact {
    @include font-footer-description;
    border-top: 0.5px solid white;
    padding-top: 12px;
    span {
      margin-right: 4px;
      &:last-child {
        padding-left: 4px;
        border-left: 1px solid white;
      }
    }
  }
  .footer-icon {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    img {
      margin-left: 12px;
    }
  }
  .footer-circle-container {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    @include large-pc {
      left: 240px;
    }
    .footer-circle {
      display: inline-block;
      height: 653px;
      width: 326.5px;
      @include large-pc {
        height: 783px;
        width: 326.5px;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}