//npx sass --watch index.scss:index.css
@import './common.scss';

// header
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: $header-height;
  @include mobile {
    height: $header-height-mobile;
  }
}

.navbar-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-shadow: 0px 2px 4px #00004933;
  @include mobile {
    flex-direction: row-reverse;
  }
  .navbar-left {
    margin-left: 2px;
    flex: 1;
    @include mobile {
      flex: 0;
    }
    .logo {
      width: 96px;
      height: 20px;
    }
  }
  .navbar-right {
    @include mobile {
      flex: 1;
    }
    > span {
      margin-left: 20px;
      @include mobile {
        margin-left: 0px;
      }
      a {
        &:not(:hover) {
          text-decoration: none;
        }
        color: white;
      }
    }
  }
}
.side-slider {
  position: fixed;
  top: 0px;
  left: -180px;
  width: 180px;
  height: 100vh;
  min-height: 800px;
  background: #ffffff;
  border-radius: 0px 8px 8px 0px;
  padding: 5px 16px 16px 20px;
  transition: transform 0.5s ease-in-out 0.3s;
  &.active {
    display: block;
    transform: translate(180px, 0);
  }

  .close-side-slider {
    display: flex;
    justify-content: end;
    img {
      position: relative;
      right: -10px;
    }
  }
  .link-container {
    @include font-footer-subtitle;

    > div > a {
      display: flex;
      align-items: center;
      height: 40px;
      border-bottom: 0.5px solid #ccccdb;
      color: black;
      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}
// section
section,
footer {
  height: 900px;
  position: sticky;
  overflow: hidden;
  @include large-pc {
    height: 1080px;
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  @include mobile {
    width: $container-width-mobile;
  }
}

@include mobile {
  .section3,
  .section4,
  .section5 {
    background-color: white !important;
    height: auto;
    .container {
      width: 340px;
      background-color: #0000b0;
      border-radius: 20px;
      height: 437px;
      margin: 8px auto;
      padding: 24px 20px 0px 20px;
      overflow: hidden;
    }
  }
}

.section1 {
  background-color: $primary;
  height: auto;
  padding-top: $header-height;
  @include mobile {
    padding-top: $header-height-mobile;
  }
  .section1-upper {
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
      display: block;
      @include mobile {
        margin: 0 auto;
        width: 380px;
        height: 420px;
      }
    }
  }

  .section1-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 404px;
    padding-top: 67px;
    @include large-pc {
      height: 444px;
      padding-top: 84px;
    }
    @include mobile {
      height: 300px;
      padding-top: 32px;
    }
    .section1-title {
      @include font-title;
    }
    .section1-description {
      margin: 16px 0 48px;
      text-align: center;

      @include mobile {
        // width: 720px;
        margin: 8px 0 24px;
      }
    }
  }
}

.section2 {
  height: auto;
  background: linear-gradient(#000049, #0000b0);
  .section2-main {
    width: 100vw;
    min-width: $container-width;
    @include mobile {
      min-width: $container-width-mobile;
    }
  }
}
.section3 {
  background-color: $secondary-blue;
  height: auto;
  video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    @include mobile {
      border-radius: 20px;
      width: 340px;
      height: 437px;
      margin: 8px auto;
      object-fit: cover;
    }
  }
}

.section4 {
  background-color: $secondary-blue;
  display: flex;
  .container {
    display: flex;
    @include mobile {
      flex-direction: column-reverse;
      align-items: center;
    }
    .section4-left {
      flex: 1;
      position: relative;
      .section4-main {
        position: absolute;
        margin-top: 28px;
        width: 977px;
        @include large-pc {
          margin-top: 118px;
        }
        @include mobile {
          position: static;
          margin-top: 0px;
          width: 337px;
          height: 301px;
        }
      }
    }
    .section4-right {
      flex: 1;
      position: relative;
      display: flex;
      align-items: end;
      justify-content: flex-end;
    }
    .section4-sentences {
      position: relative;
      margin-bottom: 70px;
      @include large-pc {
        margin-bottom: 187px;
      }
      @include mobile {
        margin-bottom: 0px;
        .section4-description {
          margin-bottom: 0px;
        }
      }
      .section4-title {
        @include font-subtitle;
        margin: 20px 0;
        @include mobile {
          margin: 0px 0px 8px;
        }
      }
    }
  }
}

.section5 {
  background-color: $secondary-blue;
  position: relative;
  display: flex;
  z-index: 5;
  .container {
    position: relative;
    display: flex;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
    .section5-left {
      margin-left: 78px;
      margin-top: 316px;
      z-index: 10;
      @include large-pc {
        margin-left: 55px;
        margin-top: 406px;
      }
      @include mobile {
        margin: 0px;
      }
      .section5-sentences {
        .section5-title {
          @include font-subtitle;
          margin: 20px 0;
          @include mobile {
            margin: 0px;
          }
        }
      }
    }
    .section5-right {
      position: absolute;
      right: 30px;
      margin-top: 8px;
      height: 100%;
      @include large-pc {
        right: 56px;
        margin-top: 98px;
      }
      @include mobile {
        position: static;
      }
      .section5-main {
        height: 883px;
        width: 681px;
        @include mobile {
          height: 316px;
          width: 324px;
        }
      }
    }
  }
}

.badge-container {
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    align-items: center;
    a:first-child {
      margin-bottom: 16px;
      img {
        width: 180px;
      }
    }
  }

  a:first-child {
    margin-right: 46px;
    @include mobile {
      margin-right: 0px;
    }
  }
  @include mobile {
    img {
      width: 180px;
    }
  }
}
// sticky nav
.nav-section {
  position: absolute;
  width: 100%;
  .sticky {
    position: sticky;
    height: auto;
    z-index: 10;
  }
  .side-nav {
    margin-left: 9px;
    display: flex;
    flex-direction: column;
    .step {
      display: flex;
      width: 20px;
      height: 20px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      border: 1px solid white;
      font-size: 12px;
      font-weight: 700;
      transition: background-color 1.5s linear;
      &.active {
        background-color: white;
        color: black !important;
      }
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

// footer
footer.section6 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  bottom: 0px;
  background-color: $secondary-blue;
  position: relative;
  @include mobile {
    height: 538px;
    background-color: $light-blue;
  }
  .container {
    position: relative;
    .section6-title {
      @include font-title;
      margin-top: 350px;
      margin-bottom: 48px;
      text-align: center;
      @include large-pc {
        margin-top: 439px;
      }
      @include mobile {
        margin-top: 48px;
        margin-bottom: 16px;
      }
    }
    .company-info {
      position: absolute;
      width: 100%;
      bottom: 32px;
      @include large-pc {
        bottom: 122px;
      }
      @include mobile {
        position: relative;
        margin-top: 58px;
      }
    }
  }
  .footer-title {
    @include font-footer-title;
    margin-bottom: 16px;
    margin-left: 3px;
  }
  .footer-suttitle {
    @include font-footer-subtitle;
    margin-bottom: 12px;
    margin-left: 3px;
    span {
      margin-right: 15px;
      &:last-child {
        padding-left: 14px;
        border-left: 1px solid white;
      }
    }
  }
  .footer-description {
    @include font-footer-description;
    margin-bottom: 10px;
    span {
      margin-right: 4px;
      @include mobile {
        margin-right: 0px;
      }
      &:last-child {
        padding-left: 4px;
        border-left: 0.5px solid white;
      }
    }
  }
  .footer-contact {
    @include font-footer-description;
    border-top: 0.5px solid white;
    padding-top: 12px;
    span {
      margin-right: 4px;
      &:last-child {
        padding-left: 4px;
        border-left: 1px solid white;
      }
    }
  }
  .footer-icon {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    @include mobile {
      margin-top: 12px;
      justify-content: start;
      img {
        margin-left: 0px !important;
        margin-right: 12px;
      }
    }
    img {
      margin-left: 12px;
    }
  }
  .footer-circle-container {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    @include large-pc {
      left: 240px;
    }
    @include mobile {
      align-items: inherit;
      left: -26px;
      top: 13px;
    }
    .footer-circle {
      display: inline-block;
      height: 653px;
      width: 326.5px;
      @include large-pc {
        height: 783px;
        width: 326.5px;
      }
      @include mobile {
        height: 278px;
        width: 139px;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
