@font-face {
  font-family: 'PyeongChang';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/font/PyeongChang-Regular.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'PyeongChang';
  font-weight: 700;
  font-style: normal;
  src: url("./assets/font/PyeongChang-Bold.woff2") format("woff2");
  font-display: swap; }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  color: white;
  font-family: 'PyeongChang'; }

header {
  position: absolute;
  width: 100%;
  z-index: 10; }

.navbar-container {
  height: 76px;
  padding: 20px 0;
  display: flex; }
  .navbar-container .navbar-left {
    flex: 1; }
  .navbar-container .navbar-right > span {
    margin-left: 20px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0em; }

.nav-section {
  position: absolute;
  height: 2700px;
  padding: 408px 0;
  width: 100%;
  z-index: 100; }
  .nav-section .sticky {
    position: sticky;
    top: 450px;
    height: auto; }
  .nav-section .side-nav {
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease-in-out 0.3s;
    opacity: 1; }
    .nav-section .side-nav .step {
      display: flex;
      width: 20px;
      height: 20px;
      justify-content: center;
      border-radius: 50px;
      border: 1px solid white;
      font-size: 12px;
      font-weight: 700;
      transition: background-color 0.8s linear; }
      .nav-section .side-nav .step.active {
        background-color: white;
        color: black; }
      .nav-section .side-nav .step:not(:last-child) {
        margin-bottom: 12px; }

section {
  border: 1px dashed white;
  height: 900px;
  min-height: 900px;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start; }

.container {
  width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .container {
      width: 600px; } }

.section1 {
  background-color: #000049;
  padding-top: 76px;
  position: relative; }
  .section1 .container .section1-upper {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 420px;
    margin: auto;
    background-color: #0000b0; }

.section2 {
  height: auto;
  background: linear-gradient(#000049, #0000b0); }
  .section2 .section2-main {
    width: 100vw; }

.section3 {
  background-color: #0000b0; }

.section4 {
  background-color: #0000b0;
  display: flex; }
  .section4 .container {
    display: flex; }
    .section4 .container .section4-left {
      flex: 1;
      position: relative; }
    .section4 .container .section4-right {
      flex: 1;
      position: relative; }
    .section4 .container .section4-main {
      position: absolute;
      width: 722px;
      bottom: 0px; }
    .section4 .container .background-circle {
      position: absolute;
      top: 140px;
      left: 100px;
      width: 350px;
      transform: rotate(80deg); }
    .section4 .container .section4-sentences {
      position: relative;
      top: 40%; }
      .section4 .container .section4-sentences .section4-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 66px;
        letter-spacing: 0em; }
      .section4 .container .section4-sentences .section4-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px; }

.section5 {
  background-color: #0000b0;
  display: flex; }
  .section5 .container {
    display: flex; }
    .section5 .container .section5-left {
      margin-left: 50px;
      z-index: 10; }
    .section5 .container .section5-right {
      position: absolute;
      right: 0px;
      height: 100%; }
    .section5 .container .section5-main1 {
      position: absolute;
      right: 170px;
      bottom: 0px; }
    .section5 .container .section5-main2 {
      position: relative;
      right: 10px; }
    .section5 .container .section5-sentences {
      position: relative;
      top: 30%; }
      .section5 .container .section5-sentences .section5-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 66px;
        letter-spacing: 0em; }
      .section5 .container .section5-sentences .section5-description {
        width: 534px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px; }

.section6 {
  background-color: #0000b0; }

/*# sourceMappingURL=index.css.map */
